<section id="clients" class="section-clients">

  <h3>Clients</h3>

  <div class="client-controls">
    <div class="client-control-next">{% include icons/icon-next.html %}</div>
    <div class="client-control-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <div class="clients-belt">

    <div class="client-unit">

      <div class="client-face">
        <img src="{{ site.baseurl }}/assets/img/clients/face-aaroni.jpg" alt="client-face" />
        <strong class="client-name">Scott Summers</strong>
        <em class="client-title">Director of Design, Quebec Int.</em>
      </div>

      <div class="client-content">
        <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
        <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
      </div>

    </div> <!-- End of client-unit -->

  </div> <!-- End of clients-belt -->

  <div class="clients-logos">

    <div class="client-logo active-client"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>

  </div>

</section>
