<section id="work" class="alt-section section-work">

  <h3>Work</h3>

  <div class="work-belt">
    <div class="thumb-wrap">
      <div class="thumb-container">
        {% for project in site.data.settings.projects %}
        <div class="thumb-unit" data-folder="{{ project.folder }}" style="background-image: url({{site.baseurl}}/assets/img/work/{{ project.folder }}/thumb.jpg);">
          <div class="thumb-overlay">
            <strong>{{ project.name }}</strong>
            <div class="zoom-icon"></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div> <!-- End of Thumb-Wrap -->

    <div class="work-wrap">
      <div class="work-container">
        <div class="work-return">{% include icons/icon-back.html %}</div>
        <h4 class="project-title"></h4>
        <div class="project-load"></div>
      </div>
    </div> <!-- End of Work-Wrap -->
  </div> <!-- End of Work-Belt -->

</section>
