.alt-section
  background: $bg-color

.section-work
  overflow-x: hidden

/* CSS to handle edge case of JS not enabled */
.noscript
  display: none

@each $proj in $projects
  ##{$proj}:checked ~ .work-belt .work-wrap .work-container noscript #content-#{$proj}
    display: block

.return
  display: none

.trigger
  display: none

  &:checked ~ .work-belt
    left: -100%

    .work-wrap .work-container
      display: block
/* End of noscript edge case */

.work-belt
  width: 200%
  position: relative
  left: 0%
  +transition(all 800ms)

  &.slided
    +transform(translate3d(-50%, 0, 0))

.thumb-wrap, .work-wrap
  width: 50%
  float: left

.thumb-container
  max-width: 960px
  margin: 0 auto
  padding-bottom: 100px
  +clearfix

  .thumb-unit
    display: block
    width: 25%
    float: left
    position: relative
    padding-top: 16%
    cursor: pointer
    overflow: hidden
    background:
      position: center center
      repeat: no-repeat
      size: cover
    +perspective(300)

    @media screen and (max-width: 760px)
      width: 50%
      padding-top: 26%


    .thumb-overlay
      +position(absolute)
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
      height: 100%
      background: fade-out($accent-color, 0.1)
      text-align: center
      @extend %animationstart_#{$animation}

      strong
        display: block
        padding: 0 20px
        color: #FFF
        font-weight: 300
        text-transform: uppercase
        font-size: 24px
        line-height: 1.2em

    &:hover
      z-index: 2

      .thumb-overlay
        @extend %#{$animation}


.work-container
  max-width: 600px
  margin: 0 auto
  padding: 0 15px
  display: none
  position: relative
  +box-sizing(border-box)

  h4, noscript h4
    color: $accent-color
    font-weight: 300
    text-transform: uppercase
    font-size: 24px
    line-height: 1.2em
    margin: 0 0 20px

  img
    max-width: 100%
    margin-bottom: 20px

  .work-return
    +size(40px)
    cursor: pointer
    opacity: 0.5
    +position(absolute, -4px null null -60px)

    path
      fill: rgba(0,0,0,0.4)

    &:hover
      opacity: 1

@media (max-width: 740px)
  .work-container

    .work-return
      left: 0px

    h4
      margin-left: 60px
